# 11_Decision  Tree  분류 분석 실습

In [1]:
import pandas as pd
import numpy as np

uci_path='http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
df = pd.read_csv(uci_path, header=None)
#print(df.head())
df.columns=['id', 'clump', 'cell_size', 'cell_shape', 'adhesion', 'epithlial', 'bare_nuclei', 'chromation', 'normal_nucleoli', 'mitoses', 'class']
print(df.info())
print(df.describe())
# print(df['bare_nuclei'].unique())  

df['bare_nuclei'].replace('?', np.nan, inplace=True)
df.dropna(subset=['bare_nuclei'], axis=0, inplace=True)
df['bare_nuclei'] = df['bare_nuclei'].astype('int')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
id                 699 non-null int64
clump              699 non-null int64
cell_size          699 non-null int64
cell_shape         699 non-null int64
adhesion           699 non-null int64
epithlial          699 non-null int64
bare_nuclei        699 non-null object
chromation         699 non-null int64
normal_nucleoli    699 non-null int64
mitoses            699 non-null int64
class              699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB
None
                 id       clump   cell_size  cell_shape    adhesion  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

        epithlial  chromation  normal_nucleoli     mitoses       class
count  699.000000  699.000000       699.000000  699.000000  699.000000
mean     3.216023    3.437768         2.866953    1.589413    2.689557
std      2.214300    2.438364         3.053634    1.715078    0.951273
min      1.000000    1.000000         1.000000    1.000000    2.000000
25%      2.000000    2.000000         1.000000    1.000000    2.000000
50%      2.000000    3.000000         1.000000    1.000000    2.000000
75%      4.000000    5.000000         4.000000    1.000000    4.000000
max     10.000000   10.000000        10.000000   10.000000    4.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
id                 683 non-null int64
clump              683 non-null int64
cell_size          683 non-null int64
cell_shape         683 non-null int64
adhesion           683 non-null int64
epithlial          683 non-null int64
bare_nuclei        683 non-null int32
chromation         683 non-null int64
normal_nucleoli    683 non-null int64
mitoses            683 non-null int64
class              683 non-null int64
dtypes: int32(1), int64(10)
memory usage: 61.4 KB
None
                 id       clump   cell_size  cell_shape    adhesion  \
count  6.830000e+02  683.000000  683.000000  683.000000  683.000000
mean   1.076720e+06    4.442167    3.150805    3.215227    2.830161
std    6.206440e+05    2.820761    3.065145    2.988581    2.864562
min    6.337500e+04    1.000000    1.000000    1.000000    1.000000
25%    8.776170e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171795e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238705e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

        epithlial  bare_nuclei  chromation  normal_nucleoli     mitoses  \
count  683.000000   683.000000  683.000000       683.000000  683.000000
mean     3.234261     3.544656    3.445095         2.869693    1.603221
std      2.223085     3.643857    2.449697         3.052666    1.732674
min      1.000000     1.000000    1.000000         1.000000    1.000000
25%      2.000000     1.000000    2.000000         1.000000    1.000000
50%      2.000000     1.000000    3.000000         1.000000    1.000000
75%      4.000000     6.000000    5.000000         4.000000    1.000000
max     10.000000    10.000000   10.000000        10.000000   10.000000

            class
count  683.000000
mean     2.699854
std      0.954592
min      2.000000
25%      2.000000
50%      2.000000
75%      4.000000
max      4.000000

In [3]:
uci_path='http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
df = pd.read_csv(uci_path, header=None)
df

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [6]:
df.columns=['id', 'clump', 'cell_size', 'cell_shape', 'adhesion', 'epithlial', 'bare_nuclei', 'chromation', 'normal_nucleoli', 'mitoses', 'class']
df.head()
#print(df.info())
#print(df.describe())

,id,clump,cell_size,cell_shape,adhesion,epithlial,bare_nuclei,chromation,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [11]:
print(df['class'].unique())

[2 4]

In [7]:
df['bare_nuclei'].replace('?', np.nan, inplace=True)
df.dropna(subset=['bare_nuclei'], axis=0, inplace=True)
df['bare_nuclei'] = df['bare_nuclei'].astype('int')

#print(df.info())
#print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
id                 683 non-null int64
clump              683 non-null int64
cell_size          683 non-null int64
cell_shape         683 non-null int64
adhesion           683 non-null int64
epithlial          683 non-null int64
bare_nuclei        683 non-null int32
chromation         683 non-null int64
normal_nucleoli    683 non-null int64
mitoses            683 non-null int64
class              683 non-null int64
dtypes: int32(1), int64(10)
memory usage: 61.4 KB
None
                 id       clump   cell_size  cell_shape    adhesion  \
count  6.830000e+02  683.000000  683.000000  683.000000  683.000000
mean   1.076720e+06    4.442167    3.150805    3.215227    2.830161
std    6.206440e+05    2.820761    3.065145    2.988581    2.864562
min    6.337500e+04    1.000000    1.000000    1.000000    1.000000
25%    8.776170e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171795e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238705e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

        epithlial  bare_nuclei  chromation  normal_nucleoli     mitoses  \
count  683.000000   683.000000  683.000000       683.000000  683.000000
mean     3.234261     3.544656    3.445095         2.869693    1.603221
std      2.223085     3.643857    2.449697         3.052666    1.732674
min      1.000000     1.000000    1.000000         1.000000    1.000000
25%      2.000000     1.000000    2.000000         1.000000    1.000000
50%      2.000000     1.000000    3.000000         1.000000    1.000000
75%      4.000000     6.000000    5.000000         4.000000    1.000000
max     10.000000    10.000000   10.000000        10.000000   10.000000

            class
count  683.000000
mean     2.699854
std      0.954592
min      2.000000
25%      2.000000
50%      2.000000
75%      4.000000
max      4.000000

In [8]:
# 설명변수 (독립변수)
X =df[['clump', 'cell_size', 'cell_shape', 'adhesion', 'epithlial', 'bare_nuclei', 'chromation', 'normal_nucleoli', 'mitoses']]
# 종속변수 (예측변수, 반응변수)
Y =df['class']

In [9]:
# train:test(7:3)으로 데이터 분리
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=10)
print(X_train.shape)
print(X_test.shape)

(478, 9)
(205, 9)

In [12]:

#Decision Tree 분류 모델 생성
from sklearn import tree

tree_model = tree.DecisionTreeClassifier(criterion='entropy',  max_depth=5)
#tree_model = tree.DecisionTreeClassifier(criterion='gini',  max_depth=5)
tree_model.fit(X_train, Y_train)

y_predict = tree_model.predict(X_test)  #
print(y_predict)
print(Y_test.values)

from sklearn import metrics
tree_matrix = metrics.confusion_matrix(Y_test, y_predict)
print(tree_matrix)

tree_report = metrics.classification_report(Y_test, y_predict)
print(tree_report)

[4 4 4 4 4 4 2 2 4 4 4 2 2 4 4 2 2 4 2 4 2 2 2 2 4 2 2 2 2 2 2 4 4 4 2 4 4
 4 2 2 4 2 4 2 4 2 4 2 2 2 2 2 2 2 2 2 4 4 2 4 2 2 2 4 2 2 2 2 2 2 2 2 4 2
 2 2 2 2 2 2 2 2 2 2 4 4 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 2 4 4 2 2 2 2 4 2 4
 2 2 4 2 2 4 2 2 4 2 4 2 4 4 4 4 2 4 2 2 2 2 2 4 4 4 4 2 4 4 2 2 2 4 4 2 4
 2 2 2 4 2 2 2 4 4 2 2 2 2 2 4 2 4 4 2 4 4 2 2 4 4 2 2 4 2 2 2 2 4 2 2 2 4
 2 2 2 2 2 4 2 2 4 2 4 2 4 2 4 4 4 2 4 2]
[4 4 4 4 4 4 2 2 4 4 4 2 2 4 4 2 2 4 2 4 2 2 2 2 4 2 2 2 2 2 2 4 4 4 2 4 4
 4 2 2 4 2 4 2 4 2 2 2 2 2 2 2 2 2 2 2 4 4 2 4 2 4 2 4 2 2 2 2 2 2 2 2 4 2
 2 2 2 2 2 2 2 2 2 2 4 4 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 2 4 4 2 2 2 2 4 2 4
 2 2 4 2 4 4 2 2 2 2 2 2 4 4 4 4 2 4 2 2 2 2 2 4 4 4 4 2 4 4 2 2 2 4 4 2 4
 2 2 2 4 2 2 2 4 4 2 2 2 2 2 4 2 4 4 2 4 4 2 2 4 4 2 2 4 2 2 2 2 4 2 2 2 4
 2 2 2 2 2 4 2 2 2 2 4 2 4 2 4 4 4 2 4 2]
[[127   4]
 [  2  72]]
              precision    recall  f1-score   support

           2       0.98      0.97      0.98       131
           4       0.95      0.97      0.96        74

    accuracy                           0.97       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.97      0.97      0.97       205